.item {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: #f5f5f5;
  }

  .index {
    margin-right: 10px;
    font-size: 18px;
    color: #333333;
  }

  .name {
    flex-grow: 1;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
  }

  .date {
    margin-left: 20px;
    font-size: 14px;
    color: #777777;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.type {
  display: flex;
  align-items: center;

  span {
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  .active {
    background-color: #4caf50;
    color: white;
  }
}
