.container {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .sider,
  .content {
    flex: 1;
    overflow: auto;
    padding: 20px;
  }

  .sider {
    border-right: 1px solid #f0f0f0;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .sider,
    .content {
      flex: none;
      width: 100%;
    }
  }
}
